lib/spree_elta_courier/wsdl/ELTACOURIERPOSTSIDETA.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<definitions name="ELTACOURIERPOSTSIDETA" targetNamespace="/ELTACOURIERPOSTSIDETA" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="/ELTACOURIERPOSTSIDETA" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- Micro Focus NetExpress generated WSDL document-->
    <types>
      <schema elementFormDefault="qualified" targetNamespace="/ELTACOURIERPOSTSIDETA" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="/ELTACOURIERPOSTSIDETA">
        <element name="READ">
          <complexType>
            <sequence>
              <element name="user_details">
                <complexType>
                  <sequence>
                    <element name="pel_user_code" type="string"/>
                    <element name="pel_user_pass" type="string"/>
                    <element name="pel_apost_code" type="string"/>
                    <element name="pel_apost_sub_code" type="string"/>
                    <element name="pel_user_lang" type="string"/>
                  </sequence>
                </complexType>
              </element>
              <element name="pel_details">
                <complexType>
                  <sequence>
                    <element name="pel_paral_name" type="string"/>
                    <element name="pel_paral_address" type="string"/>
                    <element name="pel_paral_area" type="string"/>
                    <element name="pel_paral_tk" type="string"/>
                    <element name="pel_paral_thl_1" type="string"/>
                    <element name="pel_paral_thl_2" type="string"/>
                    <element name="pel_service" type="string"/>
                    <element name="pel_baros" type="string"/>
                    <element name="pel_temaxia" type="string"/>
                    <element name="pel_paral_sxolia" type="string"/>
                    <element name="pel_sur_1" type="string"/>
                    <element name="pel_sur_2" type="string"/>
                    <element name="pel_sur_3" type="string"/>
                    <element name="pel_ant_poso" type="string"/>
                    <element name="pel_ant_poso1" type="string"/>
                    <element name="pel_ant_poso2" type="string"/>
                    <element name="pel_ant_poso3" type="string"/>
                    <element name="pel_ant_poso4" type="string"/>
                    <element name="pel_ant_date1" type="string"/>
                    <element name="pel_ant_date2" type="string"/>
                    <element name="pel_ant_date3" type="string"/>
                    <element name="pel_ant_date4" type="string"/>
                    <element name="pel_asf_poso" type="string"/>
                    <element name="pel_ref_no" type="string"/>
                    <element name="sideta_eidos" type="string"/>
                    <element name="pudo_station" type="string"/>
                  </sequence>
                </complexType>
              </element>
              <element name="sideta_numbers">
                <complexType>
                  <sequence>
                    <element name="vg_code" type="string"/>
                    <element name="return_vg" type="string"/>
                    <element name="epitagh_vg" type="string"/>
                    <element maxOccurs="35" minOccurs="0" name="vg_child" type="string"/>
                  </sequence>
                </complexType>
              </element>
            </sequence>
          </complexType>
        </element>
        <element name="READResponse">
          <complexType>
            <sequence>
              <element name="st_flag" type="integer"/>
              <element name="st_title" type="string"/>
              <element name="print_fields">
                <complexType>
                  <sequence>
                    <element name="rec_station_code" type="string"/>
                    <element name="rec_station_title" type="string"/>
                    <element name="serv_code" type="string"/>
                    <element name="serv_title" type="string"/>
                    <element name="cod_code" type="string"/>
                    <element name="cod_title" type="string"/>
                    <element name="sur_code_1" type="string"/>
                    <element name="sur_title_1" type="string"/>
                    <element name="sur_code_2" type="string"/>
                    <element name="sur_title_2" type="string"/>
                    <element name="sur_code_3" type="string"/>
                    <element name="sur_title_3" type="string"/>
                  </sequence>
                </complexType>
              </element>
            </sequence>
          </complexType>
        </element>
      </schema>
    </types>
    <message name="READInput">
      <part element="tns:READ" name="parameters"/>
    </message>
    <message name="READOutput">
      <part element="tns:READResponse" name="parameters"/>
    </message>
    <portType name="ELTACOURIERPOSTSIDETA">
      <operation name="READ">
        <input message="tns:READInput"/>
        <output message="tns:READOutput"/>
      </operation>
    </portType>
    <binding name="ELTACOURIERPOSTSIDETA" type="tns:ELTACOURIERPOSTSIDETA">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="READ">
        <soap:operation soapAction=""/>
        <input>
          <soap:body use="literal"/>
        </input>
        <output>
          <soap:body use="literal"/>
        </output>
      </operation>
    </binding>
    <service name="ELTACOURIERPOSTSIDETA">
      <port binding="tns:ELTACOURIERPOSTSIDETA" name="ELTACOURIERPOSTSIDETA">
        <documentation>
          <wsi:Claim conformsTo="http://ws-i.org/profiles/basic/1.0"/>
        </documentation>
        <soap:address location="http://localhost:9003"/>
      </port>
    </service>
  </definitions>
