lib/spree_elta_courier/wsdl/GETPUDODETAILS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<definitions name="GETPUDODETAILS" targetNamespace="/GETPUDODETAILS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="/GETPUDODETAILS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- Micro Focus NetExpress generated WSDL document-->
    <types>
      <schema elementFormDefault="qualified" targetNamespace="/GETPUDODETAILS" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="/GETPUDODETAILS">
        <element name="READ">
          <complexType>
            <sequence>
              <element name="pel_user_code" type="string"/>
              <element name="pel_user_pass" type="string"/>
              <element name="pel_apost_code" type="string"/>
            </sequence>
          </complexType>
        </element>
        <element name="READResponse">
          <complexType>
            <sequence>
              <element name="st_flag" type="integer"/>
              <element name="st_title" type="string"/>
              <element maxOccurs="2500" minOccurs="0" name="pudo_details">
                <complexType>
                  <sequence>
                    <element name="pudo_codes" type="string"/>
                    <element name="pudo_postal_code" type="string"/>
                    <element name="pudo_titles_gr" type="string"/>
                    <element name="pudo_titles_en" type="string"/>
                    <element name="pudo_address_gr" type="string"/>
                    <element name="pudo_address_en" type="string"/>
                    <element name="pudo_city_gr" type="string"/>
                    <element name="pudo_city_en" type="string"/>
                    <element name="pudo_county_gr" type="string"/>
                    <element name="pudo_county_en" type="string"/>
                    <element name="pudo_region_gr" type="string"/>
                    <element name="pudo_region_en" type="string"/>
                    <element name="pudo_telefon" type="string"/>
                    <element name="pudo_daily_operation" type="string"/>
                    <element name="pudo_saturday_operation" type="string"/>
                    <element name="pudo_sanday_operation" type="string"/>
                    <element name="pudo_latitude" type="string"/>
                    <element name="pudo_longtitude" type="string"/>
                  </sequence>
                </complexType>
              </element>
            </sequence>
          </complexType>
        </element>
      </schema>
    </types>
    <message name="READInput">
      <part element="tns:READ" name="parameters"/>
    </message>
    <message name="READOutput">
      <part element="tns:READResponse" name="parameters"/>
    </message>
    <portType name="GETPUDODETAILS">
      <operation name="READ">
        <input message="tns:READInput"/>
        <output message="tns:READOutput"/>
      </operation>
    </portType>
    <binding name="GETPUDODETAILS" type="tns:GETPUDODETAILS">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="READ">
        <soap:operation soapAction=""/>
        <input>
          <soap:body use="literal"/>
        </input>
        <output>
          <soap:body use="literal"/>
        </output>
      </operation>
    </binding>
    <service name="GETPUDODETAILS">
      <port binding="tns:GETPUDODETAILS" name="GETPUDODETAILS">
        <documentation>
          <wsi:Claim conformsTo="http://ws-i.org/profiles/basic/1.0"/>
        </documentation>
        <soap:address location="https://wsprod.elta-courier.gr"/>
      </port>
    </service>
  </definitions>
